
  .title {
    color: #272427;
    font-size: 22px;
    line-height: 30px;
    font-weight:500;
    width: 345px;
    word-wrap:break-word;
    text-align: center;
  }
  .title-color-white{
    color:white
  }
