
  .btus {
    border-radius: 25px;
    background: linear-gradient(to right, #DA001F,#F69744);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    font-weight: 400;
    box-shadow:0px 4px 10px 0px rgba(255,68,0,0.3);
    &::after{
      border: none !important;
    }
  }
  .btn-disabled{
    color: #fff !important;
  }