
  .test {
    .test-box{
      padding: 20px;
      .test-content{
        font-size:14px;
        font-family:PingFangSC-Regular;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:30px;
      }
    }
    
  }
