
  .gjjz {
    .qzc {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 15px;
      .t1 {
        color: #484848;
      }
      .t2 {
        color: #FF6B52;
      }
    }
  }
