
  .gjjz {
    .ty {
      display: flex;
      align-items: center;
      margin-left: 15px;
      font-size: 13px;
      img{
        width: 14px;
        height: 14px;
        margin-right: 8px;    
      }
      .t1 {
        color: #99A1A4;
      }
      .t2 {
        color: #272427;
      }
    }
    .qzc {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 15px;
      .t1 {
        color: #484848;
      }
      .t2 {
        color: #FF6B52;
      }
    }
  }
