
  .btus {
    width: 300px;
    height: 46px;
    border-radius: 5px;
    background: linear-gradient(to right, #FF6B52, #FF4400);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    font-weight: 400;
    box-shadow:0px 4px 10px 0px rgba(255,68,0,0.3);
  }
  .k {
    background:white;
    color:#FF4400;
    border:1px solid rgba(255,68,0,1)
  }
