
    .check {
      display: flex;
      align-items: center;
      margin-left: 15px;
      font-size: 13px;
      img{
        width: 14px;
        height: 14px;
        margin-right: 8px;    
      }
      .t1 {
        color: #99A1A4;
      }
      .t2 {
        color: #272427;
      }
    }
