
  .labelinputs{
    width: 100%;
    margin-bottom: 20px;
  }
 
  .labelinputs-label{
    color: #999;
    margin-bottom: 10px;
    display: block;
    &:before{
      content: "";
      display: inline-block;
      width: 1px;
      height: 15px;
      margin-right: 10px;
      background: #999;
      position: relative;
      top: 3px;
    }
  }
  .am-list-item-picker{
    background-color: #f7f7f7 ;
    :global{
      .am-list-line{
        div{
          font-size: 14px !important;
        }
      .am-list-extra{
        -webkit-flex-basis:0;
        flex-basis:0;
      }
      }
    }
  }