
  .gjjc {
    .zc {
      width: 100%;
      text-align: center;
      color: #484848;
      font-size: 15px;
      line-height: 15px;
      font-weight: 400;
    }
    .tip {
      width: 375px;
      height: 30px;
      background-color: #FF836E;
      color: white;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  }
